body,html{
    padding:0px;
    margin:0px;
}
*{
    word-break:keep-all;
    box-sizing:border-box;
}
header{   
    background:#4831D4;
    color:#fff;
    font-size:.9rem;
    width:100%;
    height:40px;
    display:flex;
    padding-left:10px;
    padding-right:10px;
    align-items:center;
    justify-content:space-between;
    font-weight:bold;
}
header > span, header > label{
    display:block;
}
header > label {
    cursor: pointer;
}
main{
    padding:5px;
    
    font-size:1rem;
}
h5.title{
    font-size:.7rem;
}
ul.list_box{
    border:#eee solid 1px;
    border-radius:4px;
    padding:5px;
    font-size:.8rem;
    list-style-type:none;
}
ul.list_box > li{
    padding-left:14px;
    position:relative;
    font-weight:bold;
}
ul.list_box > li > span{
    font-weight:normal;
    display:block;
    margin-top:5px;
}
ul.list_box > li:nth-child(n+2){
    margin-top:20px;
    padding-top:10px;
    border-top:#eee solid 1px;
}
ul.list_box > li:before{
    content:attr(data-toptext);
    position:absolute;
    left:0px;
    margin-left:0px;
    font-weight:bold;
    
}
ul.list_box > li > div{
    text-align:right;
}
ul.list_box > li > div > select{
    border:none;
    border-bottom:#eee solid 2px;
    padding:0px 10px;
    margin-top:20px;
}
ul.list_box > li > div > select > option:nth-child(2){
    color:blue;
    font-weight:bold;
}
ul.list_box > li > div > select > option:nth-child(3){
    color:red;
    font-weight:bold;
}
div.agree{
    font-size:.8rem;
    
}
div.agree > p{
    text-align:right;
}
.d-none{
    display:none;
}
.survay_box{
    display:none;
}
input[name='agree']:checked + div{
    display:block;
}
.text-right{
    text-align:right;
    font-size: 1rem;
    margin-right: 10px;
}
#nextBtn{
    display:block;
    width:100%;
    height:40px;
    background:#000080;
    color:#fff;
    font-size:1rem;
    font-weight:bold;
    border:none;
    border-radius:4px;
    margin: 10px 0px;
    cursor:pointer;
    text-align:center;
    line-height: 40px;
}

#beforeBtn {
    display:block;
    height:40px;
    background:#000080;
    color:#fff;
    font-size:1rem;
    font-weight:bold;
    border:none;
    border-radius:4px;
    margin-top: 20pt;
    cursor:pointer;
    text-align:center;
    line-height: 40px;
}
.signature-pad {
    border: 1px solid black;
    background-color: white;
}
.subpic {
    position: relative;
    width: 100px;
    height: 30px;
}

.imtext {
    position: absolute;
    top: -5px;
    left: 30px;
    z-index: 1;
    font-size: 15pt;
    font-weight: bold;
    opacity: 0.3;
}

#signImg {
    position: absolute;
    top: -55%;
    left: 0;
    width: 75pt;
}

#loading{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.8;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}
.loading-image{
    position: relative;
    top: 45%;
    z-index: 100;
}
.loading-text {
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    top: 50%;
    z-index: 100;
}

#qrDiv {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 20%;
}

#qrlink {
    margin-top: 20px;
    font-size: 15pt;
    font-weight: bolder;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#addBtn{
    margin-top: 20pt;
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding: 5px;
}

.list_box > li > label > p{
    text-align: right;
}
.wrapper {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#canvasDiv {
    text-align: center;
    width: 100%;
    height: 100%;
}
.signBtn {
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    width: 100px;
    height: 30px;
}
.signBtn:hover {
    background-color: rgb(114, 72, 72);
    color: #FFF;
}
.logoutBtn{
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #4831D4;
    font-weight: bold;
    width: 80px;
    height: 25px;
}

#infoDiv > span {
    overflow: hidden;
    width: 65%;
    text-align: right;
}